/* Define color variables for Nordic with red accent theme */
:root {
  --background-color: #2E3440;
  --primary-color: #3B4252;
  --secondary-color: #434C5E;
  --text-color: #ECEFF4;
  --widget-icon-color: #ECEFF4;
  --widget-value-color: #ECEFF4;
  --widget-label-color: #D8DEE9;
  --widget-background-color: #4C566A;
  --widget-hover-color: #5E81AC;
  --widget-active-color: #BF616A;
  --widget-slider-color: #D8DEE9;
  --widget-slider-thumb-color: #BF616A;
  --widget-slider-thumb-hover-color: #5E81AC;
  --widget-slider-thumb-active-color: #BF616A;
}

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font styles */
html {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Style the polybar */
#polybar {
  background-color: var(--primary-color);
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Align the widgets to the left */
.left {
  justify-content: flex-start;
}

/* Align the widgets to the center */
.center {
  justify-content: center;
}

/* Align the widgets to the right */
.right {
  justify-content: flex-end;
}

/* Style the widgets */
.widget {
  margin: 0 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: var(--widget-background-color);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 5px 10px;
}

.widget:hover {
  background-color: var(--widget-hover-color);
}

.widget:active {
  background-color: var(--widget-active-color);
}

/* Style the widget icons */
.widget i {
  margin-right: 5px;
  font-size: 18px;
  color: var(--widget-icon-color);
}

/* Style the widget labels */
.widget label {
  margin-right: 10px;
  color: var(--widget-label-color);
}

/* Style the widget values */
.widget span {
  font-weight: bold;
  color: var(--widget-value-color);
}

/* Style the volume slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background-color: var(--widget-slider-color);
  border-radius: 3px;
  margin-right: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: var(--widget-slider-thumb-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3px;
  transition: background-color 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--widget-slider-thumb-hover-color);
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--widget-slider-thumb-active-color);
}
